{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th>index</th>
            <th>float</th>
            <th>name</th>
            <th>surname</th>
            <th>fullname</th>
            <th>email</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <th scope="row">{{ item.index }}</th>
                <td>{{ item.float }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.surname }}</td>
                <td>{{ item.fullname }}</td>
                <td>{{ item.email }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}